<%# user table%>
<table>
    <tr>
        <th> name</th>
        <th> email</th>
    </tr>
    
<%# show user name as first_name, last_name %>    
<% @users.each do |u| %>
    <tr>
        <td> <%="#{u.first_name} #{u.last_name}" %></td>
        <td> <%=u.email %></td>
    </tr>
    
<% end %>
    
</table>